//Minefield Squares
$color-discovered: #a7dce0;
$color-undiscovered: #15AF9E;
$color-numbered-1: #d175af;
$color-numbered-2: #cc60a4;
$color-numbered-3: #c7539b;
$color-numbered-4: #c34694;
$color-mine-background: black;

//Typography
$color-text-minefield: #0c1e41;
$color-text-1: #c34694;
$color-text-2: #15af9e;
$color-text-3: #a7dce0;

//Other
$color-shadow: #102547;
$header-background-color: black;

//Background Gradient
$bg-colorA: #1E2E5D;
$bg-colorB: #192D50;