
@import url("https://fonts.googleapis.com/css?family=Karla:700&display=swap");

//Font Sizing
$font-size-1: 1rem;
$font-size-2: 1.1rem;
$font-size-3: 1.2rem;
$font-size-4: 1.3rem;

//Font Families
$font-main: "Karla", sans-serif;

//Base Font Sizes
$min-font-extra-small: 20px;
$min-font-small: 22px;
$min-font-medium: 30px;
$min-font-large: 34px;
$min-font-extra-large: 36px;